*{
    margin: 0;
    padding: auto;
}
.workYearContion{
    width: auto;
    height: 24px;
}
.workYearContion label{
    display: block;
    color: black;
    width: 70px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    float: left;
    margin-left: 50px;
}
.active{
    background-color: rgb(119, 180, 241);
}
.workSelect{
    width: auto;
    height: 24px;
    float: left;
    margin-right: 10px;
}
.workYear {
    display: block;
    width: 100px;
    height: 24px;
    font-size: 12px;
    color: black;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    float: left;
}

.workYear:hover {
    color: red;
}