.d1{
    width: 900px;
    height: 600px;
    background-color: cornflowerblue;
}
.d2,.d3,.d4{
    width: 400px;
    height: 90px;
}
.d2{
    background-color: rgb(199, 16, 224);
}
.d3{
    background-color: rgb(255, 238, 0);
    float: left;
}
.d4{
    background-color: rgb(255, 126, 5);
    float: right;
}