#navitems ul{
    list-style: none;
}
#navitems ul li{
    margin-left: 30px;
    float: left;
}
#navitems ul li a{
    color: yellowgreen;
}
.pag1>span{
    background-color: tomato;
}
.s1 span+label{
    color: white;
    background-color: black;
}
.a1{
    
}
