*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
}
#header{
    width: 90%;
    height: 58px;
    margin: 0 auto;
    min-width: 1200px;
}
#header .logo{
    width: 158px;
    height: 100%;
    float: left;
}
#header .logo img{
    width: 100%;
    height: 100%;
}
/* ========================================== */
.nav{
    width: 740px;
    height: 100%;
    float: left;
    margin-left: 30px;
}
 .nav ul{
    list-style: none;
    width: 100%;
    height: 100%;
}

.nav ul .menu-item{
    width: 88px;
    height: 100%;
    float: left;
    border-radius: 10px; 
    margin-left: 15px; 
}
.nav ul .menu-item a{
    display: block;
    width: 100%;
    height: 100%;
    color: gray;
    font-size: 14px;
    text-decoration: none;  
    line-height: 50px;
    text-align: center;
    /*圆角*/
}
.nav ul .menu-item a:hover{  /*鼠标悬浮*/
    color: #a66cfd;
    font-weight: bold;
 }

 .nav ul  li:first-child{  /*ul 下面的第1个li元素*/
    background-color: #a66cfd;
 }

 .nav ul  li:first-child a:hover{  /*ul 下面的第1个li元素*/
    color: white;
 }
 .nav ul  li:first-child a{       /*ul 下面的第1个li元素 下面的a 标签*/
    color: white;
 }
 /* ========(3) 头部登录区域=============== */
.login-info{
    width: auto;
    height: 100%;   
    float: left;
    margin-left: 20px;
}

/* =======头部右侧消息========= */
.login-info .head-msg{
    width: 68px;
    height: 100%;
    float: left;
}

.head-msg .drop-trigger{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.head-msg .drop-trigger .msg-logo{
    display: block;
    width: 18px;
    height: 18px;
    /* background-color: aqua; */
    float: left;
    position: relative;
    top: 20px;
    background-image: url("../images/message.svg");
}

.head-msg .drop-trigger .msg-tip{
    display: block;
    width: 30px;
    height: 18px;
    float: left;
    position: relative;
    top: 20px;
    font-size: 14px;
    left: 10px;
    color: rgb(48, 47, 47);
}

/* 消息的子菜单 */
.head-msg .drop-trigger .msg-item{
    display: none;  /*不显示*/
    width: 90px;
    height: 120px;
    position: absolute;
    top:58px;
    list-style: none;
}

/* 鼠标悬浮显示列表 */
.head-msg .drop-trigger:hover .msg-item{
    display: block; 
}
/* 列表 li元素 */
.head-msg .drop-trigger .msg-item li{
    width: 100%;
    height: 30px;
    /* border-bottom: 1px solid #ff9d00; */
    line-height: 30px;
    font-size: 14px;
    color: rgb(48, 47, 47);  
}
/* 列表 li元素悬浮变色 */
.head-msg .drop-trigger .msg-item li:hover{
    color: #a66cfd;
}


.login-info .head-user{
    width: auto;
    height: 100%;   
    float: left;
    margin-left: 20px;
}
/* 登录按钮鼠标浮动 */
.head-msg .drop-trigger .msg-logo {
    display: block;
    width: 18px;
    height: 18px;   
    float: left;
    position: relative;
    top: 20px;
    background-image: url(../images/message.svg);
}
/* 鼠标悬浮，消息样式修改 */
.head-msg .drop-trigger:hover span{
    color: #a66cfd;
}

.head-msg .drop-trigger:hover .msg-logo{
    background-image: url("../images/message-hover.svg");
}

.login-info .head-user .loginBtn{
    display: block;
    width: 50px;
    height: 100%;
    text-decoration: none;  /*取消下划线*/
    line-height: 58px; /*行高*/
    font-size: 14px;
    text-align: center;  /*文字对齐方式*/
    margin-left: 15px;
    float: left;
}
.login-info .head-user .loginBtn .log-login{
    width: 18px;
    height: 18px;
    float: left;
    position: relative;
    top: 20px;
    background-image: url(../images/login.svg);
}
.login-info .head-user .loginBtn:hover i{ 
    background-image: url(../images/login-hover.svg);
}
/* 注册 */
.login-info .head-user .registerBtn{
    display: block;
    width: 50px;
    height: 100%;
    text-decoration: none;  /*取消下划线*/
    line-height: 58px; /*行高*/
    font-size: 14px;
    text-align: center;  /*文字对齐方式*/
    margin-left: 15px;
    float: left;
    margin-left: 40px;
}
.login-info .head-user .registerBtn .log-register{
    width: 18px;
    height: 18px;
    float: left;
    position: relative;
    top: 20px;
    background-image: url(../images/注册.svg);
}
.button:hover{
    font-weight: bolder;
}
.login-info .head-user .registerBtn:hover i{ 
    background-image: url(../images/注册-hover.svg);
}




/* ======================================搜索 */
.banner{
    width: 100%;
    height: 650px;
    margin:  5px  auto;       
}

.banner .show-img{   
    width: 100%;
    height: 100%;
}
/* 搜索区域 */
.banner .searchBar{
    width: 538px;
    height: 36px;
    position: relative;
    left: 30%;
    top:-25%;
}
.banner .searchBar form{
    width: 100%;
    height: 100%;
}

.banner .searchBar .searchKW{
    width: 460px;
    height: 100%;
    border: none;
    outline: none; /*输入框 光标聚焦 内边框 none*/
    padding-left: 10px;
    border-radius: 4px;
    float: left;
}

.banner .searchBar .searchBtn{
    display: block;
    width: 36px;
    height: 36px;
    background-color: #a66cfd;
    border: none;
    float: left;
    margin-left: 4px;
    border-radius: 4px;
}
.banner .searchBar .searchBtn:hover{
    background-color: #a95ed5;
}
.searchBar  .searchBtn .searchImg{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/searchBtn.svg");
}





/* =====================秒杀 ==================== */
.seckill-area{
    width: 90%;
    height: 256px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
}
.seckill-area .seckill-countdown{
    width: 190px;
    height: 256px;
    float: left;
    background-color: #a66cfd;  
    text-decoration: none;
}
.seckill-area .seckill-countdown h2{
    width: 100%;
    text-align: center; 
    font-size: 30px;
    color: white;
    margin-top:30px ;  
}
.seckill-area .seckill-countdown .countdown-desc{
    width: 100%;
    margin-top:50px;
    text-align: center; 
    font-size: 16px;
    color: white;
}
.seckill-area .seckill-countdown .countdown-timmer{
    width: 100%;
    height: 30px;
    margin-top:50px;
    text-align: center; 
    font-size: 16px;
    color: white;
}

.seckill-list ul{
    list-style: none;
}

.seckill-list ul li{
    width: 200px;
    height: 260px;
    float: left;
    margin-left: 30px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
}
.seckill-list ul li a{
    display: block;
    width: 100%;
    height: 60%;
    background-color: #edec3d;
}
.seckill-list ul li a img{
    display: block;
    width: 100%;
    height: 100%;
}
.seckill-list .seckill-item__name {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
    margin-top: 20px;
}

.seckill-list .seckill-price{
    margin: 20px auto;
    display: block;
    height: 22px;
    width: 66px;
    background: #fff;
    text-align: center;
    color: #e1251b;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    box-sizing: border-box;
    text-decoration: none;
}
i {
    font-style: normal;
}
.seckill-item{
    text-decoration: none;
}




