*{
    margin: 0;
    padding: 0;
}
.header{/*评价商品区*/
    width: 75%;
    height: 200px;
    display: block;
    margin-right: 50px;
    margin-top: 50px;
    background-color: rgb(229, 244, 64);
}
.orderpic{
    width: 200px;
    height: 180px;
    background-color: rgb(132, 236, 29);
}
.ordermsg{
    width: 600px;
    height: 140px;
    margin-top: 30px;
    background-color: rgb(61, 247, 238);
}
.recommend{
    width: 380px;
    height: 500px;
    margin-left: 250px;
    background-color: rgb(241, 73, 73);
}
.recom{
    width:380px;
    height: 130px;
    margin-bottom: 20px;
    background-color: rgb(94, 62, 238);
}
.title{
    width: 270px;
    height: 40px;
    margin-top: 10px;
    background-color: rgb(238, 238, 60);
}
.recom-pic{
    width: 100px;
    height:110px;
    background-color: rgb(15, 220, 26);
}
.opic{
    display: block;
    width: 200px;
    height:180px;
}
.recom-msg{
    width: 280px;
    height:110px;
    margin-left: 60px;
    background-color: rgb(198, 81, 237);
}
.UEditor{
    float: left;
    width: 100%;
    height: 350px;
    margin-right: 50px;
    margin-top: -250px;
    background-color: rgb(56, 99, 238);
}
