*{
    margin: 0;
    padding: 0;
}
/*商品订单评价区*/
.orderpic{
    width:100%;
    height: 200px;
    margin-top: 20px;
    /* background-color: rgb(132, 236, 29); */
}
.orderpic img{/*商品图片*/
    width:95%;
    height: 200px;
}
.ordermsg{/*商品信息*/
    width: 640px;
    height: 200px;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 0 0 20px 10px  rgb(229, 174, 247) ;
    /* background-color: rgb(61, 247, 238); */
}
.name{/*商品名字*/
    width: 300px;
    height: 50px;
    margin-left: 20px;
    /* background-color: rgb(0, 140, 255); */
}
.name span{
    font-size: 26px;
    font-weight: 37px;
}
.score{/*商品评分*/
    width: 600px;
    height: 30px;
    margin-left: 20px;
    border-bottom: 1px solid gray;
}
.score span{
    font-size: 15px;

}
.address{/*商品地址*/
    width: 600px;
    height: 90px;
    margin-top: 10px;
    margin-left: 20px;
    border-bottom: 1px solid gray;
    /* background-color: rgb(226, 73, 73); */
}
.address p{
    font-size: 14px;
}
.recommend{/*附近推荐区*/
    width: 380px;
    height: 500px;
    margin-left:70px;
    box-shadow:  0 0 10px 5px rgb(181, 179, 179);
    /* background-color: rgb(241, 73, 73); */
}
.recom{/*推荐商品区*/
    width:380px;
    height: 130px;
    margin-bottom: 20px;
    /* background-color: rgb(94, 62, 238); */
}
.title{/*附近推荐 标题区*/
    width: 270px;
    height: 40px;
    margin-top:30px;
    margin-left: 10px;
    /* background-color: rgb(238, 238, 60); */
}
.title span{
    font-weight: bolder;
    font-size: 18px;
    
}
.recom-pic{/*商品图片区*/
    width: 150px;
    height:110px;
    /* background-color: rgb(15, 220, 26); */
}
.recom-pic img{
    display: block;
    width: 150px;
    height:110px;
}
.opic{
    display: block;
    width: 200px;
    height:180px;
}
.recom-msg{/*商品信息区*/
    width: 240px;
    height:110px;
    margin-left: 80px;
    /* background-color: rgb(198, 81, 237); */
}
.info{/*推荐区店名*/
    width: 220px;
    height: 50px;
    margin-left: 5px;
    background-color: #fff;
}
.info span{
    font-size: 16px;
    font-weight: bolder;
}
.star-cont{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 10px;
    /* background-color: rgb(213, 67, 67); */
}
.star-cont span{
    font-size:12px;
}
.star-cont img{
    width: 80.5px;
    height: 16.8px;
}
/* .UEditor{
    float: left;
    width: 80%;
    height: 650px;
    margin-right: 650px;

    background-color: rgb(101, 132, 233);
} */
